.intro{
    color: blue;
    background-color: brown;
    width: max-content;
}
#inserter{ 
    background-color: black;
    color: blueviolet;

}
#hrer{
    color: rgb(253, 59, 0);
}
#ganking{
    color: coral;
    background-color: aqua;
    line-height: 100px;
}