body{
    background-color: navajowhite;
    background-image: url("https://scontent.ftbs5-3.fna.fbcdn.net/v/t39.30808-6/327195411_578509187126405_8925150253976917425_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeECy_TpXS-KFjTd7JXQtXt1ijCB_uCcof2KMIH-4Jyh_X_mqKhxOAyiawHNPU-9c4qMFA9AYMyg1BzV8JidN5HF&_nc_ohc=GrOwGTGxr8UAX9DdyUF&_nc_ht=scontent.ftbs5-3.fna&oh=00_AfAhr85M-BPwZgfmKCbSuaeEUqGbhu9-cpHdNVdFRCirPQ&oe=6536D091");
    background-size: cover;
}