/* რასაც მეტი ზ ინდექსი ექნება ის დაიფარება მეორე ელემენტით როცა მათი overlap მოხდება */
/* ანუ ას მაღლა გამოვა */
article {
    position: relative;
    background-color: blue;
    color: white;
    padding: 20px;
    margin: 10px;
    width: 100px;
    z-index: 1;
    margin-bottom:20 px;
}
/* ეს articleის ქვემოთ */
.special {
    z-index: 5;
    position: absolute;
    top:35px;
    
    background-color: orange;
}
/* ეს კი specialის ქვემოთ */
.yourmom{
    margin-top: 20px;
    z-index: 6;
}
div.empty-div {
    position: relative;
    height: 100px;
    width: 100px;
    margin: 30px;
    padding: 10px;
    border: 1px solid black;
 }
 /* rotate is rotate no explanation  and transform origin is much like left:xpx or something where the element moves xpx from left in here we can also move elements in x and y axis hovewher we want call it an alternative to those */
 div.green-div {
    padding: 50px;
    position: absolute;
    background-color: #8bc34a;
    border: 1px solid white;
    transform: rotate(15deg);
    transform-origin: -50px 10px ;
    transition: transform 3s ease-in;
    
 }
 div.green-div:hover {
    transform: rotate(50deg);
 }
 /* you can write out multiple transforms in one line like this */
 .forthethesis{
    transform: rotate(50deg) translate(50px, 10px) skew(10deg) 
 }
 /* you get the point */
 .yomamam {
    width: 50px;
    height: 50px;
    background: #32CD32;
    transition: width 3s ease-in-out;
}
 .yomamam:hover {
    width: 250px;
}
/* keyframes you negro */
@keyframes colorchange  {
    0% {background-color: red;}
    100% {background-color: green;}
    
 }
 /* this is how we select where we want the animation to work( aka keyframes) also this is infinitely going on so if you want it to work for once and stop just remove the "infinite" from body selector */
 body {
    animation: colorchange 5s infinite;
    animation-timing-function: ease-in-out;
}

/* div {
   animation-name: colorchange;
   animation-duration: 3s;
   animation-timing-function: ease-in;
   animation-delay: 1s;
   animation-iteration-count: infinite;
   animation-direction: reverse;
} */
/* is the same as */
/* div { 
   animation: colorchange 3s ease-in 1s infinite reverse;
} */