
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 20px;
    
    
}

@media (max-width:1115px){
    main{
        grid-template-columns: 1fr 1fr 1fr;  
    }
}

.video1{
    display: block;
    height: 280px;
    margin-left: 5px;
    box-sizing: content-box;
    
    
}
.thumbnail-1{
 width: 300px;
 display: block;
 box-sizing: border-box;
}
.video1-image1{
    width: 40px;
    display: inline-block;
    
    margin-top: 5px;
}
.lilpic{
    width: 40px;
    border-radius: 20px;
}

.video1-p1{
    display: inline-block;
    width: 250px;
    font-family: sans-serif;
    margin-left: 9px ;

}
.entirity{
        display: grid;
        grid-template-columns: 50px 1fr;
}
aside{
    background-color: rgb(255, 253, 252);
    display: grid;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 56px;
    z-index: 2;
    border-right: 1px ridge rgba(212, 203, 203, 0);
    width: 72px;
}
.relative{
    position: relative;
    height: 170px;
}
.absolute{
    position: absolute;
    right: 15px;
    bottom: 10px;
    background-color: black;
    opacity: 0.95;
    color: white;
    font-weight: 530;
    padding: 4px 2px;
    border-radius: 10%;
    font-size: 13px;
    color: white;
    font-family: Arial;
}